/url/cache
/.emacs.desktop
/auto-save-list
/.session
/session.*
/custom.el
*.elc
.*.lock
/trap
/TODO
/.org-id-locations
cookies
\#*
/elpa
/elpa-*
/frame-restore-parameters
/history
/helm-adaptive-history
/anaconda-mode/
/recentf
/ido.last
/projectile-bookmarks.eld
/projectile.cache