# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = kevinkwl
	email = lingkangwei.kevin@gmail.com
[core]
	excludesfile = /Users/kevin/.gitignore_global
